{% extends 'base/base.html'%}
{% block body %}

  {% if not request.user.is_authenticated %}
    <br>
  {% else %}
    <h2 style="color:black ;float: right; text-transform: capitalize;" class="text-center">
      {{user.username}}</h2>
  {% endif %}

  <div class="container">
    <div class="col-xs-6 col-xs-offset-3">
      <form class="row" role="search" method="get">

        <div class="input-group mb-3 input-group-lg">
          <input type="text" class="form-control" placeholder="Search movies" aria-label="Search Movies" aria-describedby="search-btn" name="q" value="{{ request.GET.q }}">
          <button class="btn btn-success" type="submit" id="search-btn">Search</button>
        </div>

      </form>

    </div>
  </div>

  <p class="text-start">
    <span style="float:right;">
      <a href="{% url 'movies:recommend_movies' %}" class="btn">
       
        <button style="border:none;  color:#fff;background-color:#4CAF50;padding:10px">Get Movie Recommendation</button>
      </a>
      <!-- style="color: #fff;" -->
      <h2 >Movie List</h2>
    </span>
  </p>
  <hr>
  <br>

  <!-- Movie list -->
  <div class="row">
    {% if object_list %}
      {% for movie in object_list %}
        <div class="col-sm-2 col-md-2">
          <div class="thumbnail" style="border-radius: 22px 22px 22px 22px;">
                  <div style="color:black; font-size: 18px; margin-left: 20px;">
                    {{movie.title}}
          </div>

          <!-- <h5 class="text-center text-light ;" style="color:black">{{movie.title}}</h5> -->

            <a href="{% url 'movies:movie_detail' movie.pk %}" style="padding:5px ;" >
              <img src="{{ movie.get_image}}" class="img-fluid" style="border-radius: 22px 22px 22px 22px; display: grid; ">
            </a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

  {% if page_obj %}
    <div class="row mt-3">
      {% include 'partials/pagination.html' %}

    </div>
  {% endif %}

</div>

{% endblock %}